.login-modal
{
	background-color: red;
	border: 1px solid transparent;
	padding: 10px;
	border-radius: 10px;
	transition: all 0.5s;
	cursor: pointer;
}

.login-modal:hover
{
	background-color: transparent;
	border: 1px solid red;
}

#modalContent
{
	min-height: 200px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	margin: auto;
}

#modalCloseButton
{
	margin-left: 20px;
	background-color: transparent;
	border: 1px solid red;
	padding: 10px;
	cursor: pointer;
	transition: all 0.5s;
}

#modalCloseButton:hover
{
	background-color: red;
	color: white;
	border: 1px solid red;
}